[submodule "External/TouchUI"]
	path = External/TouchUI
	url = https://github.com/schwa/TouchUI.git
[submodule "External/TouchFoundation"]
	path = External/TouchFoundation
	url = https://github.com/schwa/TouchFoundation.git
